name: Deploy Project

on:
  pull_request:
    # types: [opened, edited]
    types:
      - opened
      - edited
    # choose the branch where a pull request in would trigger the workflow
    branches:
      - main
      - release
      - 'dev-*'

  push:
    branches:
      - main
      - release
      - 'dev-*'
    
      # changed appening in this path would be ignore
    paths-ignore:
      - '.github/workflows/*'

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Output event data
        run: echo "${{ toJSON(github.event) }}"
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Test code
        run: npm run test
      - name: Build code
        run: npm run build
      - name: Deploy project
        run: echo "Deploying..."